#attendeventlink {
    color: #daa217;
    text-decoration: underline;
  }

#attendeventlink:hover {
     color: #FFF;
  }

.maroonbtn {
background-color: #5d1615!important;
border-color: #5d1615!important;
color: whitesmoke!important;
}