.avatar {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  color: #daa217
}

/* .username {
    margin-top: 35px;
    margin-left: 250px;

} */
