.createEventContainerFluid {
  background-color: #222222;
}

.createEventContainer {
  background-color: #222222;
}


.createEventCard {
  background-color: whitesmoke;
}

.createheader {
  color: #5d1615;
}