.game-text {
  background-color: white;
  padding: 1rem;
  opacity: 0.8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.knight-font {
  font-family: 'Cinzel', serif;
}
