.indexContainerFluid{
  background-color: #222222;
  }

.indexContainer{
background-color: #222222;
}

.game-text {
  background-color: whitesmoke;
  padding: 1rem;
  opacity: 0.8;
  position: absolute;
  top: 91.2%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #5d1616;
}

.knight-font {
  font-family: 'Cinzel', serif;
}
